* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 100%;
  background: white;
  padding-left: 190px;
  padding-top: 10px;
}


h1 {
    color: #395e60;
    text-align: center;
    padding-right: 100px;

 }

table {

     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;

    
}

td, th {
   border: 1px solid #ddd;
    padding: 20px;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#8cd98c;
    color: white;
}






form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}


